{% extends  'adegadobairro/maincontas.html' %}
{% load static %}
{% block conteudo %}
<div class="container">
			<form action="{% url 'loginUser' %}" method="post">
				{% csrf_token %}
				<h3>Login</h3>
				<label for="id_username">Username:</label>
				<input type="text" id="id_username" name="username" size="100"><br>
				<label for="id_password1">Password:</label>
				<input type="password" id="id_password1" name="password1" size="20"><br><br>
				<button type="submit" >Login</button>
			</form><br/>
			{% for message in messages %}
					<p id="messages">{{message}}</p>
	 		{% endfor %}
			<div class="links">Ainda não está registado?   <a href="{% url 'register' %}" >  Criar Conta</a></div>
	</div>
{% endblock %}
