{% extends  'adegadobairro/main.html' %}
{% load static %}
{% block conteudo %}
<style>

	footer {
    margin-top: 25%;
	}
</style>
<div class="sobre-nos">
    <div class="sobre-container">
        <div class="sobre-texto" id="sobre">
            <h2>A Adega do Bairro foi fundada em 1927, e desde então tornou-se num dos especialistas de maior renome em vinhos e espirituosos.</h2>
            <p>Com mais de 90 anos de experiência comercial na região de Lisboa, Portugal, a companhia é um importante abastecedor de vinhos, recorrendo a uma ampla selecção de grossistas, retalhistas e coleccionadores.
                Nas décadas que se seguiram à sua fundação, o empreendimento recolheu uma espantosa quantidade de bebidas espirituosas e vinhos premium vintage que encheriam o olho de qualquer garrafeira. A selecção da Adega do Bairro representa uma das mais extensas e valiosas colectâneas de vintage e vinhos do Porto raros, vinhos da Madeira, whiskies, cognacs, aguardentes, champanhe e bebidas diversas, todos criteriosamente seleccionados de acordo com a autenticidade e relevância da sua origem.
                Gerida por Gonçalo Anacleto, a Adega do Bairro tem uma estrutura empresarial de mais de 60 funcionários, através da qual tem investido continuadamente na aquisição de vinhos e espirituosos de forma a sulcar mercados nacionais e internacionais. Todos os produtos são cuidadosamente armazenados, ao abrigo de um rigoroso controlo de humidade e temperatura. Assim voltados para um futuro solidamente alicerçado no mais nobre passado enológico, temos como apaixonada missão estimar, partilhar e difundir o prazer inigualável da apreciação de vinhos e espirituosos.</p>
        </div>
        <div class="sobre-premios" id="premios">
            <h2>A Adega do Bairro foi eleita como Garrafeira 2021 nos Prémios Grandes Escolhas.</h2>
            <p>Desde a sua fundação, a Adega do Bairro tem sido distinguida com diversos galardões nacionais e internacionais.</p>
            <ul class="premios">
                <li>Escolha do Consumidor, 2019</li>
                <li>Revista de Vinhos, 2017</li>
                <li>Meiningers Wine Business, 2009</li>
                <li>Revista de Vinhos, 2009</li>
                <li>Revista de Vinhos, 2008</li>
                <li>Expresso, 2008</li>
            </ul>
        </div>
        </div>
    <div class="loja" id="loja">
            <h3>Onde Estamos?</h3>
            <div class="map" id="div_map">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.3396294531367!2d-9.137980684655204!3d38.71001077959994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd193479c0d94adb%3A0x55b2cb6f2d54a825!2sGarrafeira%20Nacional!5e0!3m2!1spt-PT!2spt!4v1652672667805!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p>Morada: Loja Conceição -
                Rua da Conceição 20/26
                1100-227 Lisboa - Portugal</p>
            <p>Horário: Seg. a Dom.: 9h30 - 19h30 </p>
            <p>Telefone: 218 879 080</p>
            <p>Email: info@adegadobairro.com </p>
        </div>
</div>
{% endblock %}