{% extends  'adegadobairro/main.html' %}
{% load static %}
{% block conteudo %}
<style>
	footer {
    margin-top: 25%;
	}
</style>
<div class="service_page_main institutional_page">

    <div class="container">
        <h3>1. Objecto</h3>
        <p>1.1	As presentes Condições Gerais, atualizadas em Maio de 2017, destinam-se, com o formulário de encomenda, e os demais elementos referidos nas mesmas, a regular os termos e as condições por que se regerá a prestação do Serviço Loja Online da Adega do Bairro (Osório Silva e Ribeiro, Lda), com sede na Rua de Santa Justa nº18, 1100-485, Lisboa, sob o número único de matrícula e de identificação de pessoa colectiva nº 500 477 078, com o capital social de 9.975,96 € (euros), doravante designada por Adega do Bairro.

</p>
<p>
1.2	A compra de qualquer produto na Loja Online da Adega do Bairro implica a aceitação das presentes Condições Gerais de Venda Online.
</p>
<p>
1.3	Todas e quaisquer bebidas alcoólicas disponíveis para venda na Loja Online da Adega do Bairro só podem ser adquiridas por pessoas que tenham a idade legal para tal, no seu país de residência. 
</p>
        <h3>2. Informação de Produtos, Preços e Conteúdos</h3>


        <p>2.1	A Adega do Bairro reserva-se ao direito de modificar, sem aviso prévio e a qualquer momento, a informação e oferta comercial apresentada sobre: produtos, preços, promoções, condições comerciais e serviços.</p>
        <p>2.2	As imagens que ilustram cada produto na Adega do Bairro podem diferir do produto posteriormente entregue, estando também sujeitos, estes mesmos produtos, a rutura de stock.</p>
        <p>2.3	Apesar dos esforços da Adega do Bairro, alguns produtos poderão apresentar um preço inexacto, razão pela qual a companhia verifica os preços sempre que procede ao tratamento das encomendas. Consequentemente, os preços apresentados na Adega do Bairro são meramente indicativos e não constituem uma proposta contratual. Se o preço efetivo do produto for inferior ao preço anunciado, a Adega do Bairro devolverá a diferença. Se o preço for superior, a Adega do Bairro informará o cliente de tal situação por e-mail e aguardará a sua decisão de aceitar o novo preço ou cancelar a encomenda no prazo de 15 dias a contar da data em que foi enviado o e-mail.</p>
        <p>2.4	Ao abrigo da legislação Portuguesa, todos os preços apresentados na Adega do Bairro incluem as respetivas taxas de IVA em vigor, salvo indicação em contrário. Apenas e só para profissionais da revenda os valores apresentados na Adega do Bairro não incluem o IVA, estando expressamente escrita a informação “Sem IVA” sempre visível e junto do preço.</p>
        <p>2.5	As promoções divulgadas na Adega do Bairro poderão não ser aplicáveis às lojas físicas: GN Santa Justa, GN Conceição e GN Mercado da Ribeira.</p>



        <h3>3. Encomenda e Pagamento</h3>


        <p>3.1	Após a confirmação da encomenda na Adega do Bairro, será enviado um e-mail para o endereço de contacto registado na mesma pelo cliente aquando a formalização, com todos os detalhes sobre a entrega, faturação, informações de pagamento, produtos e valores. A Adega do Bairro sugere a todos os clientes a confirmação dos detalhes da mesma. Caso o cliente não receba o e-mail de confirmação de encomenda é solicitado que entre em contacto com a Adega do Bairro através dos seguintes <a href="/garrafeira/ajuda/contactos/">contactos</a> para que essa notificação seja novamente remetida para o endereço de e-mail do cliente.
</p>
        <p>3.2	Se algum dos detalhes colocados pelo cliente na encomenda se encontrem equivocados e/ou o cliente pretenda alterar alguma informação, desde que a encomenda ainda não tenha sido expedida, é solicitado que o cliente entre em contacto através dos seguintes <a href="/garrafeira/ajuda/contactos/">contactos</a> com a maior brevidade possível para que internamente seja feita a alteração solicitada pelo cliente. As alterações de detalhes de encomendas já expedidas terão de ser analisadas pela equipa da Adega do Bairro para que, juntamente com o cliente se encontre solução mais adequada.</p>
        <p>3.3	Todas as encomendas na Adega do Bairro só serão processadas após o recebimento efetivo do pagamento. A formalização da encomenda só em si não constitui uma reserva dos produtos.</p>
        <p>3.4	Caso uma encomenda não possa ser satisfeita em parte ou na totalidade, o cliente será imediatamente contactado pela Adega do Bairro de modo a encontrar a solução mais adequada. </p>
        <p>3.5	Todas as encomendas feitas na Adega do Bairro têm um prazo máximo de pagamento de 15 dias. Findo este prazo, a encomenda será automaticamente cancelada.</p>
        <p>3.6	As encomendas poderão ser canceladas quando expressamente solicitado pelo cliente através de um dos seguintes <a href="/garrafeira/ajuda/contactos/">contactos</a>, antes das expedições das encomendas. Após a confirmação da expedição da encomenda, é solicitado ao cliente que contacte a Adega do Bairro para que, juntamente com o mesmo se encontre a solução mais adequada.</p>
        <p>3.7	Através da Loja Online da Adega do Bairro são aceites pagamentos por meio de Referência Multibanco, MBWAY (ambas para clientes com conta bancária em Portugal), Transferência Bancária, Paypal e Boleto Bancário (a última para clientes residentes no Brasil).</p>
        <p>3.8	Os estados das encomendas na Adega do Bairro são compreendidos em 3 fases: Pendente, Em Processamento e Finalizada.
	<br><br>
a)	Pendente – Aguarda a entrada do pagamento no sistema da Adega do Bairro;<br>
b)	Em Processamento – Fase em que o pagamento já foi rececionado, e a encomenda encontra-se em processamento e em acondicionamento/preparação;<br>
c) Em Espera – Aguarda confirmações adicionais com o cliente para prosseguir com a encomenda. Fase de cariz excepcional.<br>
d)	Finalizado – A encomenda já foi expedida/enviada.</p>
        <p>3.9	Os pagamentos são recebidos em euros, independentemente da moeda com que é efectuada a transação, as taxas de conversão dos pagamentos feitos em outras moedas terão de ser suportadas pelo cliente.</p>
	<p>3.10	O nosso departamento de apoio ao cliente, em alguns casos, poderá solicitar documentos de forma a seguir com o processamento da encomenda.</p>

        <h3>4. Portes de envio</h3>
        <p>4.1	Aos preços apresentados nos produtos acresce o respetivo valor dos portes, a cada encomenda, que são calculados com base na soma de dois fatores: o custo de embalamento e o custo de transporte. O custo de embalamento por cada garrafa é de 2 € (euros). O custo de transporte depende do peso da encomenda e do respetivo destino de entrega. Esse valor dos portes poderá ser simulado dentro do carrinho de compras com os produtos pretendidos adicionados e preenchendo todos os campos solicitados do simulador. O total de portes será, igualmente, automaticamente calculado ao efetuar a sua encomenda na Loja Online. Salienta-se que os factores deste cálculo poderão ser variáveis e sofrer alterações sem aviso prévio.</p>



        <h3>5. Expedições e Entregas/Levantamento em Loja Física Adega do Bairro</h3>



         <p>5.1	Para as encomendas serem enviadas para a morada solicitada deverá ser escolhida a opção de envio – Envio Nacional (em caso de Portugal) e Envio Internacional (em caso de outros países fora de Portugal). </p>
        <p>5.2	Em geral, após a expedição, uma encomenda na Adega do Bairro demora a ser entregue:<br><br>
- Cerca de 72 horas (dias úteis) em Portugal Continental;
<br>- Aproximadamente 15 dias úteis nas Ilhas da Madeira e Açores;
<br>- Cerca de 4 a 7 dias úteis em Espanha Peninsular; 
<br>- Cerca de 6 a 9 dias úteis na restante Europa;
<br>- Aproximadamente 15 dias úteis no resto do mundo.</p>
        
<p>5.3	Após a expedição das encomendas, a informação para monotorização do envio ficará disponível na conta dos clientes que tenham efetuado a encomenda com registo e é igualmente enviada uma notificação via e-mail com a informação do link para monotorização do envio para todos os clientes registados e não registados. Se por algum motivo o cliente não receber a confirmação de expedição deverá entrar em contacto com a Adega do Bairro através de um dos seguintes <a href="/garrafeira/ajuda/contactos/">contactos</a> para que seja novamente remetida toda a informação disponível sobre a expedição da encomenda.</p>
        <p>5.4	Após a notificação de expedição, os clientes deverão acompanhar o estado do envio através do link fornecido pela Adega do Bairro, para que estejam a par do estado de evolução até ao momento da entrega da encomenda, uma vez que a Adega do Bairro não notifica a cada alteração de estado do envio.</p>
        <p>5.5	Todos os produtos enviados pela Adega do Bairro devem ser verificados no ato da entrega. Se o cliente verificar que a encomenda se encontra danificada, deverá devolvê-la de imediato à empresa de transportes, justificar devidamente o motivo da devolução na guia de remessa do transportador e notificar de imediato a Adega do Bairro através de um dos seguintes <a href="/garrafeira/ajuda/contactos/">contactos</a>.</p>
        <p>5.6	Se após a entrega, o cliente verificar que algum dos artigos não se encontra em conformidade, é solicitado que entre em contacto imediato com a Adega do Bairro através do e-mail info@adegadobairro.com indicando o número da encomenda ou o número do documento que acompanhou a encomenda, anexando imagens da embalagem conforme a recebeu e de todos os artigos, para que internamente seja aberto o processo de averiguação da ocorrência e deste modo possa ser solucionada a situação com a maior brevidade possível.</p>
        <p>5.7	A Adega do Bairro não se responsabiliza pelos envios feitos para os países em que a respetiva lei não permita a entrada de bebidas alcoólicas. É da responsabilidade dos clientes a eventual apreensão das respetivas encomendas, assim como o pagamento de taxas aduaneiras, caso estas existam. Em caso da devolução dos produtos a Adega do Bairro restituirá apenas o montante respetivo a estes mesmos produtos. Em caso de dúvidas o cliente poderá contactar a Adega do Bairro antes de encomendar.</p>
        <p>5.8	A Adega do Bairro tem contratado serviços com transportadoras especializadas para efeitos de entregas em Portugal, Europa e maioria dos países do Mundo. São efectuados todos os esforços cumprir os prazos de expedição e entrega, no entanto salienta-se que os possíveis atrasos nas entregas poderão ser de cariz alheio à Adega do Bairro, não sendo possível, nesses casos, garantir prazos exatos de entrega.</p>
        <p>5.9	A maioria das entregas é feita em horário de expediente em dias úteis na morada de envio indicada pelo cliente quando submeteu a encomenda.
</p>
        <p>5.10	Em caso de tentativa de entrega por parte da companhia de transportes sem sucesso por ausência, é sempre deixado um aviso de passagem na caixa do correio do cliente com as indicações da transportadora. Dependendo do serviço e da transportadora as encomendas deverão ser recolhidas no local indicado pela mesma no aviso de passagem, ou deverão ser seguidas as indicações solicitadas no mesmo aviso. </p>
        <p>5.11	Se por algum motivo o cliente não possa receber a encomenda ou levantá-la no local indicado pela transportadora, solicita-se ao cliente que contacte a Adega do Bairro para que em conjunto se possa encontrar a solução mais adequada.</p>



        <!----p>
5.12	Antes de submeter a encomenda, caso o cliente pretenda efectuar o levantamento da mesma numa das nossas Lojas (somente em Lisboa) deverá seleccionar a opção de envio ‘’Levantamento na Loja’’ – será assumida automaticamente a Loja Adega do Bairro da Rua de Sta Justa nº18.
<br/><br/>
a) Será somente autorizada a levantar a encomenda a pessoa cujo nome esteja descrito na nota de encomenda, salvo a mesma comunique antecipadamente a Adega do Bairro que outra pessoa (identificando o nome) irá levantar a encomenda. 
<br/>b) As encomendas para levantamento em loja poderão levar 1 dia útil a ser processadas, todos os clientes são notificados via e-mail quando as mesmas estiverem disponíveis a ser recolhidas.
<br/>c) Ao dirigir-se às instalações físicas da Adega do Bairro, o cliente deverá acompanhar-se da confirmação/número da encomenda, garantindo que recebeu a nossa notificação de confirmação de encomenda disponível para levantamento, e assim evitar deslocações desnecessárias.</p---->
      

        <h3>6. Lei Aplicável</h3>


        <p>6.1	A Adega do Bairro reconhece a todos os seus clientes o direito de resolução dos contratos que com ela celebram, permitindo-lhes a devolução, num prazo de 14 (catorze) dias, dos produtos adquiridos nos termos do Decreto-Lei n.º 143/2001 e Decreto-Lei 82/2008 de 20/05. </p>
        <p>
6.2	Para trocas ou devoluções, solicita-se ao cliente que contacte a Adega do Bairro através do e-mail info@adegadobairro.com indicando o número da encomenda ou do documento que a acompanhou, tendo em conta as condições descriminadas abaixo nos seguintes tópicos:
<br><br>
a)	Para realizar a devolução da encomenda, o produto deverá estar em perfeitas condições, e se for caso disso com a sua embalagem original, acessórios ou ofertas promocionais incluídas, e acompanhado do comprovativo de compra ou fatura.
<br>b)	Admitir-se-á a devolução dos produtos defeituosos e envios equivocados, responsabilizando-se a Adega do Bairro pelos gastos de envio e recolha sempre que o cliente comunique esta circunstância num prazo de 14 (catorze) dias contados desde a data de receção do produto.
<br>c)	Uma vez recebida a mercadoria nas nossas instalações e após validação do estado da mesma em conformidade, proceder-se-á à devolução do seu valor de acordo com a modalidade de pagamento realizada pelo cliente, ou uma outra solução previamente acordada com o mesmo.



</p>
        

<p>6.3	A Adega do Bairro assume a responsabilidade decorrente dos defeitos de origem ou matéria-prima do produto adquirido e caso tal se venha a confirmar pela equipa especializada da Adega do Bairro proceder-se-á à troca ou devolução do produto sem qualquer custo para o cliente.</p>
        <p>6.4	A Adega do Bairro não aceitará a devolução do produto depois de usado, ou no caso de ter sido alterado ou modificado.</p>
        <p>6.5	A Adega do Bairro não se responsabiliza pelas deficiências decorrentes do uso incorrecto, negligência, más condições de armazenamento ou causas de força maior.</p>


   <h3>7. Lei Aplicável</h3>

        <p>7.1	Todas as compras efetuadas no site da Adega do Bairro estão sujeitas à legislação portuguesa. Qualquer conflito ou divergência de interpretação das Condições Gerais de Venda Online será submetido ao Tribunal português competente.
</p>
        <p>7.2	Caso o Cliente se encontre fora de Portugal Continental, a Adega do Bairro informa desde já que qualquer processo judicial deve ser exclusivamente instaurado nos Tribunais Portugueses. </p>
        <p>

7.3	Nos termos e para os efeitos do disposto no art. 18º da Lei n.º 144/2015, de 8 de Setembro, informa-se que a entidade de RAL disponível é o Centro de Arbitragem de Conflitos de Consumo de Lisboa, com os seguintes contactos:
<br><br>
Morada: Faculdade de Direito da Universidade Nova de Lisboa - Campus de Campolide 1099-032 Lisboa
<br>Telefone: 21 384 74 84 (das 15h às 16h)
<br>Telefone da Direção-Geral do Consumidor: 707 788 787
<br>Site: http://arbitragemdeconsumo.org

</p>

<p>As presentes condições gerais de venda online podem ser alteradas sem aviso prévio, devendo por isso ser consultadas antes da realização de qualquer encomenda.</p>

    </div>
</div>
{% endblock %}